<h1>Welcome to this webite made by Yulia and Mario - the best coders in Ironhack, ever!</h1>

<img src="https://s2.glbimg.com/LD1b-da10P8BvaMVZjvjRAxZ25A=/620x430/e.glbimg.com/og/ed/f/original/2021/04/30/xdisaster-girl.jpg.pagespeed.ic.tyhof7q3co.jpg">

<a href="/main"><button >Go to your Main page</button></a>
<a href="/private"><button >Go to your Private page</button></a>

<a href="/logout"><button >Log out</button></a>



