body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-mario{
  color:white;
  background-color: black!important;
}

nav{
  margin-bottom: 15px;
}

.catimage{
  display:block;
  margin:0 auto;
  width: 50%;
}